#
# This file is part of the WarheadCore Project. See AUTHORS file for Copyright information
#
# This program is free software; you can redistribute it and/or modify it
# under the terms of the GNU Affero General Public License as published by the
# Free Software Foundation; either version 3 of the License, or (at your
# option) any later version.
#
# This program is distributed in the hope that it will be useful, but WITHOUT
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
# FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for
# more details.
#
# You should have received a copy of the GNU General Public License along
# with this program. If not, see <http://www.gnu.org/licenses/>.
#

########################################
# LowLevelArena module configuration
########################################
[worldserver]

#
#
#

LLA.Enable = 1

#
# NOT IMPLEMENT
# Levels 10-14
#

LLA.Reward.Enable = 0
LLA.Levels.10.14.Configurable = 1,10,5
LLA.Levels.15.19.Configurable = 1,10,5
LLA.Levels.20.24.Configurable = 1,10,5
LLA.Levels.25.29.Configurable = 1,10,5
LLA.Levels.30.34.Configurable = 1,10,5
LLA.Levels.35.39.Configurable = 1,10,5
LLA.Levels.40.44.Configurable = 1,10,5
LLA.Levels.45.49.Configurable = 1,10,5
LLA.Levels.50.54.Configurable = 1,10,5
LLA.Levels.55.59.Configurable = 1,10,5
LLA.Levels.60.64.Configurable = 1,10,5
LLA.Levels.65.69.Configurable = 1,10,5
LLA.Levels.70.74.Configurable = 1,10,5
LLA.Levels.75.79.Configurable = 1,10,5