#
# This file is part of the WarheadCore Project. See AUTHORS file for Copyright information
#
# This file is free software; as a special exception the author gives
# unlimited permission to copy and/or distribute it, with or without
# modifications, as long as this notice is preserved.
#
# This program is distributed in the hope that it will be useful, but
# WITHOUT ANY WARRANTY, to the extent permitted by law; without even the
# implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
#

#############################
# CFBG configuration system #
#############################
[worldserver]

###################################################################################################
#   CFBG
#
#   CFBG.Enable
#       Description: Enable mixed alliance and horde in one battleground
#       Default: 1
#
#   CFBG.Include.Avg.Ilvl.Enable
#       Description: Enable check average item level for bg
#       Default: 0
#
#   CFBG.BalancedTeams
#       Description: Enable check average player level for bg
#       Default: 1
#
#   CFBG.Players.Count.In.Group
#       Description: Maximum players in party for enter queue
#       Default: 3
#
#   CFBG.EvenTeams.Enabled
#        Description: Set Battleground invitation type.
#        Default:     0 - (Disabled, one team can have one extra player if an odd number of players queues)
#                     1 - (Enabled. Get even teams.)
#
#   CFBG.EvenTeams.MaxPlayersThreshold
#       Description: team member quantity until the EvenTeams rule is valid
#       Default: 5 - (Quantity of players per team after the EvenTeams rule will be ignored)
#                0 - (No treshold)
#

CFBG.Enable = 1
CFBG.BalancedTeams = 1
CFBG.Include.Avg.Ilvl.Enable = 0
CFBG.Players.Count.In.Group = 3
CFBG.EvenTeams.Enabled = 0
CFBG.EvenTeams.MaxPlayersThreshold = 5
