#
# This file is part of the WarheadCore Project. See AUTHORS file for Copyright information
#
# This file is free software; as a special exception the author gives
# unlimited permission to copy and/or distribute it, with or without
# modifications, as long as this notice is preserved.
#
# This program is distributed in the hope that it will be useful, but
# WITHOUT ANY WARRANTY, to the extent permitted by law; without even the
# implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
#

###################################################################################################
#   CFBG
#
#   CFBG.Enable
#       Description: Enable mixed alliance and horde in one battleground
#       Default: 1
#
#   CFBG.Include.Avg.Ilvl.Enable
#       Description: Enable check average item level for bg
#       Default: 0
#
#   CFBG.BalancedTeams
#       Description: Enable check average player level for bg
#       Default: 1
#
#   CFBG.BalancedTeams.Class.LowLevel
#       Description: Enable class balance for BGs LowLevel
#       Default: 0
#                1 - (Enabled. Balance the number of Hunters per team)
#
#   CFBG.BalancedTeams.Class.MinLevel
#       Description: Define min level to use the LowLevelClass balance
#       Default: 10
#
#   CFBG.BalancedTeams.Class.MaxLevel
#       Description: Define max level to use the LowLevelClass balance
#       Default: 19
#
#   CFBG.BalancedTeams.Class.LevelDiff
#       Description: Only taking into account characters having level >= BgMaxLevel - LevelDiff
#                    for example in a 10-19 BG, if this value is set to 2, then it will consider only
#                    players of level 17, 18, 19 (>= 19-2)
#       Default: 2
#
#   CFBG.Players.Count.In.Group
#       Description: Maximum players in party for enter queue
#       Default: 3
#
#   CFBG.EvenTeams.Enabled
#        Description: Set Battleground invitation type.
#        Default:     0 - (Disabled, one team can have one extra player if an odd number of players queues)
#                     1 - (Enabled. Get even teams.)
#
#   CFBG.EvenTeams.MaxPlayersThreshold
#       Description: team member quantity until the EvenTeams rule is valid
#       Default: 5 - (Quantity of players per team after the EvenTeams rule will be ignored)
#                0 - (No treshold)
#

CFBG.Enable = 1
CFBG.BalancedTeams = 1
CFBG.BalancedTeams.Class.LowLevel = 0
CFBG.BalancedTeams.Class.MinLevel = 10
CFBG.BalancedTeams.Class.MaxLevel = 19
CFBG.BalancedTeams.Class.LevelDiff = 2
CFBG.Include.Avg.Ilvl.Enable = 0
CFBG.Players.Count.In.Group = 3
CFBG.EvenTeams.Enabled = 0
CFBG.EvenTeams.MaxPlayersThreshold = 0
CFBG.ResetCooldowns = 0
CFBG.Show.PlayerName = 0
