###################################################################################################
#  ELUNA SETTINGS
#
#   Eluna.Enabled
#       Description: Enable or disable Eluna LuaEngine
#       Default:    1 - (enabled)
#                   0 - (disabled)
#
#   Eluna.TraceBack
#       Description: Sets whether to use debug.traceback function on a lua error or not.
#                    Notice that you can redefine the function.
#       Default:    0 - (use default error output)
#                   1 - (use debug.traceback function)
#
#   Eluna.ScriptPath
#       Description: Sets the location of the script folder to load scripts from
#                    The path can be relative or absolute.
#       Default:    "lua_scripts"
#

Eluna.Enabled = 1
Eluna.TraceBack = 0
Eluna.ScriptPath = "lua_scripts"
###################################################################################################

###################################################################################################
#
#  LOGGING SYSTEM SETTINGS
#
#  Log channel config values: Given an channel "name"
#    Log.Channel.name
#        Description: Defines 'where to log'
#        Format:      Type,LogLevel,Pattern,Optional1,Optional2,Optional3,Optional4
#
#                     Type
#                       1 - (Console)
#                       2 - (File)
#
#                     LogLevel
#                         0 - (Disabled)
#                         1 - (Fatal)
#                         2 - (Critical)
#                         3 - (Error)
#                         4 - (Warning)
#                         5 - (Info)
#                         6 - (Debug)
#                         7 - (Trace)
#
#                    Pattern (all type)
#                         * %s - message source
#                         * %t - message text
#                         * %l - message priority level (1 .. 7)
#                         * %p - message priority (Fatal, Critical, Error, Warning, Information, Debug, Trace)
#                         * %q - abbreviated message priority (F, C, E, W, I, D, T)
#                         - * %P - message process identifier
#                         - * %T - message thread name
#                         - * %I - message thread identifier (numeric)
#                         - * %N - node or host name
#                         * %U - message source file path (empty string if not set)
#                         * %O - message source file filename (empty string if not set)
#                         * %u - message source line number (0 if not set)
#                         * %w - message date/time abbreviated weekday (Mon, Tue, ...)
#                         * %W - message date/time full weekday (Monday, Tuesday, ...)
#                         * %b - message date/time abbreviated month (Jan, Feb, ...)
#                         * %B - message date/time full month (January, February, ...)
#                         * %d - message date/time zero-padded day of month (01 .. 31)
#                         * %m - message date/time zero-padded month (01 .. 12)
#                         * %n - message date/time month (1 .. 12)
#                         * %y - message date/time year without century (70)
#                         * %Y - message date/time year with century (1970)
#                         * %H - message date/time hour (00 .. 23)
#                         * %h - message date/time hour (00 .. 12)
#                         * %A - message date/time AM/PM
#                         * %M - message date/time minute (00 .. 59)
#                         * %S - message date/time second (00 .. 59)
#                         * %E - epoch time (UTC, seconds since midnight, January 1, 1970)
#                         * %v[width] - the message source (%s) but text length is padded/cropped to 'width'
#                         * %% - percent sign
#                           Example for file "%Y-%m-%d %H:%M:%S %t"
#                           Example for console "%H:%M:%S %t"
#
#                    Optional1 - Colors (is type Console)
#                       Format: "fatal critical error warning info debug trace"
#                       black
#                       red
#                       green
#                       brown
#                       blue
#                       magenta
#                       cyan
#                       gray
#                       darkGray
#                       lightRed
#                       lightGreen
#                       yellow
#                       lightBlue
#                       lightMagenta
#                       lightCyan
#                       white
#                         Example: "lightRed lightRed red brown cyan lightMagenta green"
#
#                     Optional1 - File name (is type file)
#                       Example: "Auth.log"
#
#                     Optional2 - Mode to open the file (is type file)
#                          true - Append (default)
#                          false - Overwrite
#
#                     Optional3 - Flush (is type File)
#                       true: Every essages is immediately flushed to the log file (default).
#                       false: Messages are not immediately flushed to the log file.
#
#                     Optional4 - Add timestamp (is type File).
#                           true: Append timestamp to the log file name. Format: YYYY-MM-DD_HH-MM-SS
#                           false: Just using filename (default)
#

LogChannel.ElunaLog = "1","6","[%H:%M:%S] %t","lightRed lightRed red brown cyan lightMagenta green"
LogChannel.ElunaConsole = "2","6","[%Y-%m-%d %H:%M:%S] %t","Eluna.log"

#
#  Logger config values: Given a logger "name"
#    Logger.name
#        Description: Defines 'What to log'
#        Format:      LogLevel,ChannelList
#
#                     LogLevel
#                         0 - (Disabled)
#                         1 - (Fatal)
#                         2 - (Critical)
#                         3 - (Error)
#                         4 - (Warning)
#                         5 - (Info)
#                         6 - (Debug)
#                         7 - (Trace)
#
#                     File channel: file channel linked to logger
#                     (Using spaces as separator).
#

Logger.eluna=5,ElunaLog ElunaConsole
###################################################################################################
