#
# This file is part of the WarheadCore Project. See AUTHORS file for Copyright information
#
# This program is free software; you can redistribute it and/or modify it
# under the terms of the GNU Affero General Public License as published by the
# Free Software Foundation; either version 3 of the License, or (at your
# option) any later version.
#
# This program is distributed in the hope that it will be useful, but WITHOUT
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
# FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for
# more details.
#
# You should have received a copy of the GNU General Public License along
# with this program. If not, see <http://www.gnu.org/licenses/>.
#

########################################
# GuildLevelSystem module configuration
########################################
#
#    GLS.Enable
#        Enable leveling system in guilds
#        Default: 0 (disabled)
#                 1 (enabled)
#

GLS.Enable = 0

#
#    GLS.MaxLevel
#        Maximum level for guilds
#        Default: 30
#

GLS.MaxLevel = 30

#
#    GLS.Exp.ItemID
#        ItemID for upgrade levels guild
#        Default: 37711
#

GLS.Exp.ItemID = 37711

#
#   GLS.ColorChat.Rank0
#        Color code for guild chat rank 0
#        Default: "|cffff0000"
#

GLS.ColorChat.Rank0 = "|cffff0000"

#
#   GLS.ColorChat.Rank0
#        Color code for guild chat rank 1
#        Default: "|cffff0000"
#

GLS.ColorChat.Rank1 = "|cffff0000"
