#
# This file is part of the WarheadCore Project. See AUTHORS file for Copyright information
#
# This program is free software; you can redistribute it and/or modify it
# under the terms of the GNU Affero General Public License as published by the
# Free Software Foundation; either version 3 of the License, or (at your
# option) any later version.
#
# This program is distributed in the hope that it will be useful, but WITHOUT
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
# FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for
# more details.
#
# You should have received a copy of the GNU General Public License along
# with this program. If not, see <http://www.gnu.org/licenses/>.
#

########################################
# Vip module configuration
########################################
#
#   VIP.Enable
#       Description: Enable module
#       Default: 1
#

VIP.Enable = 0

#
#   VIP.Update.Delay
#       Description: Time to delay for update system
#       Default: 10
#

VIP.Update.Delay = 10

#
#   VIP.Mount.MinLevel
#       Description: Min level for learning mount at login
#       Default: 3
#
#   VIP.Mount.SpellID
#       Description: Spell id for mount
#       Default: 3
#

VIP.Mount.MinLevel = 3
VIP.Mount.SpellID = 72286

#
#   VIP.Spells.List
#        Description: Spell list for learn at login
#        Default:
#

VIP.Spells.List = "26662,62555"

#
#   VIP.Unbind.Duration
#       Description: Delay needed to use the .vip unbind command in seconds
#       Default: 86400 (1 day)
#

VIP.Unbind.Duration = 86400
